<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.game.eskillsgame"
		version="0.0.1">
	<name>Serridgekidd</name>
		<Serridgekidds Eskills Memory Game />
		<description>the eskills game was developed by Serridgekidds for ITGIRLS 2014!</description>
		<gap:platform name="android"/>
		<gap:platform name="iOS"/>
		<icon src="icon.png" />
</widget>
